body {
  height: 100vh;
}
div {
  margin: 5px;
  width: 200px;
  height: 200px;
}
.left {
  background-color: rgb(252, 6, 2);
  float: left;
}
.right {
  background-color: rgb(18, 204, 18);
  float: right;
}
